/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
body
{
   margin: 0;
   padding: 0;
   background:#f0f0f6 !important;
   color: #ffffff;
   font-family: "Avenir Next", "Avenir", sans-serif;
}

/* .logout_button{
  display: inline-block !important;
  float:right !important;  
} */

/* .plus_button{
  height:  20%;
  width:  20%;
  background-color: black !important;
} */

.mybtn {
border: 6px solid black;
background-color: white;
border-radius: 5px;
color: black;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
padding-left:40px;
padding-right:40px;
margin-top: 1%;
margin-left: 20px;
}

.myinfo {
border-color: #2e45c7 !important;
color: #2e45c7 !important;
}

.myinfo:hover {
background: #2e45c7 !important;
color: white !important;
}
 
.mytoplogo{
  font-size: 60px !important;
  float:left !important;
  padding-left:80px;
  position: relative !important;
  color: #2e45c7 !important;
  margin-right: 46%;
}

