.slideshow-container {
    position: relative;
    background: #5b2ba8f1;
  }
  
  .info-slide {
    text-align: center;
    display: none;
    padding: 80px;
  }
  
  .prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    position: absolute;
    margin-top: -30px;
    padding: 16px;
    color: rgb(5, 5, 5);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  .dot-container {
      text-align: center;
      padding: 20px;
      background: #ddd;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #181717;
  }

  .landing_login{
    border: 6px solid  #2e45c7 !important; 
    /* border-color: #2e45c7 !important; */
    border-radius: 20px !important; 
    /* color: black !important; */
    width: 10vw;
    /* padding: 14px 28px !important; */
    font-size: 16px !important;
    cursor: pointer !important;
    text-align: center;
    /* float: right; */
    margin-left: 1vw !important;
    margin-right: 1vw !important;
  }