@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.mytopnav{
    float:right;
    padding-right: 30px;
    max-width:100%;
}
/* 
.topnav button{
    padding-left:40px;
    padding-right:40px; 
} */

body{
    background-color: #f0f0f6 !important;
}

.mybtn-active {
    border-color: #2e45c7 !important;
    color: white !important;
    background-color: #2e45c7 !important;
}

.mybtn {
    border: 6px solid black;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    padding-left:40px;
    padding-right:40px;
}

.myinfo {
    border-color: #2e45c7;
    color: #2e45c7
}
  
.myinfo:hover {
    background: #2e45c7;
    color: white;
}

.mynavbar-logo{
    font-size: 60px;
    float:left !important;
    position: relative !important;
    color: #2e45c7;
    padding-right:900px;
    font-weight: 900;
    font-family:  'Inter', sans-serif;
}