{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_class.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/assignment_summary.css' %}">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body class="container-fluid">
    <div>
    <nav class="navbar navbar-expand-lg navbar-light navbar_custom">
        <nav role="navigation">
          <div id="menuToggle" style="z-index: 6;" >
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu" style="padding-top: 40px; padding-right: 3px; padding-left: 30px; box-shadow: 1px 1px 2px 1px #888888;">
              
              <div style="height: 100vh !important; overflow-y: auto; padding: none !important; margin:0% !important" >
              {% if mappings %}
                <h4 class="hamburger_heading"><b>All Classes</b></h4>
                <div class="Overlapped_white"></div>
                <br><br><br>
                  {% for mapping in mappings %}
                      {% if assignment.classroom_id == mapping.classroom_id %}
                        <a href="{% url 'render_class' id=mapping.classroom_id.id %}"><li class="hamburger_current_class">{{mapping.classroom_id.classroom_name|truncatechars:30 }}</li></a>
                      {% else %}
                      <a href="{% url 'render_class' id=mapping.classroom_id.id %}"><li class="highlights">{{mapping.classroom_id.classroom_name|truncatechars:30 }}</li></a>
                      {% endif %}
                  {% endfor %}                    
              {% endif %}
            </div>
            </ul>
          </div>
          </nav>
          <div class="navbar-brand" href="#" style="font-size:250% !important; color:#2e45c7 !important; margin-left: 7%; margin-right: 20%"><b>{{assignment.assignment_name}}</b></div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link mybtn myinfo" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link mybtn myinfo" href="{% url 'logout' %}">Logout<span class="sr-only"></span></a>
                  <li class="nav-item">
                    <a class="nav-link mybtn myinfo" href="{% url 'render_class' id=assignment.classroom_id.id %}">Back to Class</a>
                  </li>
                  <li class="nav-item active">
                    <div class="image_cropper">
                      <img src="{% get_media_prefix %}{{ user.profile_photo }}" alt="Profile Pic" class="profile_pic_style">
                    </div>
                  </li>
            </ul>
        </div>
        </nav>    
        </div>
    
    <input type="hidden" id="submission_id" name="submission_id">
    <input type="hidden" id="assignment_id" name="assignment_id">
    <input type="hidden" id="user_id" name="user_id" >
    <br>
    <h4>&emsp;&emsp;&emsp;&emsp;&emsp; Total students: {{ no_of_students.count }} &emsp;&emsp;&emsp;&emsp;&emsp; No. of Submissions: {{ submissions.count }} &emsp;&emsp;&emsp;&emsp;&emsp; <a href="{% url 'delete_assignment' assignment_id=assignment.id %}">Delete Assignment</a></h4> 
    {% for submission in submissions %} 
    <div class="container_of_submissions">
      <br>   
        <div class="card-body submission-card">
            <h5 class="card-title">{{ submission.student_id.student_id.username }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Submitted at {{ submission.submitted_time }} on {{ submission.submitted_date }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ submission.marks_alloted }} / {{ submission.assignment_id.total_marks }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Due date and time : {{ submission.assignment_id.due_time }} on {{ submission.assignment_id.due_date }}</h6>
            {% if submission.submitted_on_time %}
            <h6 class="card-subtitle mb-2 text-muted">Submitted on time</h6>
            {% else %}
            <h6 class="card-subtitle mb-2 text-muted" style="color: crimson !important;">Oops! Submitted late</h6>
            {% endif %}
            <a  href="{% get_media_prefix %}{{ submission.submission_file }}" download> Download submitted file </a>
            <br>
            <a href="#mark_assignment" data-submission_value="{{ submission.id }}" data-assignment_value="{{ submission.assignment_id.id }}" data-user_id="{{ user.id }}">Mark Submission</a>
        </div>
      
    </div>

    <div class="modal" tabindex="-1" id="mark_assignment">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Mark Submission</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <div class="modal-body">
                <form method="POST" class="cclass_form" id="mark_assignment_form">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="number" class="form-control" id="submission_marks" placeholder="Submission Marks">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form> 
           </div>
        </div>
      </div>
    </div>
    {% endfor %}
</body>
<script>
   $('a[href$="#mark_assignment"]').on( "click", function() {
        $('#mark_assignment').modal('show');
        var assignment_id = $(this).data('assignment_value');
        var submission_id = $(this).data('submission_value');
        var user_id = $(this).data('user_id');

        var assignment_hidden_field = document.getElementById('assignment_id');
        assignment_hidden_field.value = assignment_id;

        var submission_hidden_field = document.getElementById('submission_id');
        submission_hidden_field.value = submission_id;

        var user_hidden_field = document.getElementById('user_id');
        user_hidden_field.value = user_id;

    });

    $('#mark_assignment_form').on('submit', function (e) {
        var submission_id = document.getElementById('submission_id').value;    
        var user_id = document.getElementById('user_id').value;    
        var mark_assignment_url =  "{% url 'mark_submission_request' submission_id=1 teacher_id=0 %}".replace('1', submission_id);
        mark_assignment_url = mark_assignment_url.replace('0',user_id)
        console.log(mark_assignment_url);
        var assignment_id = document.getElementById('assignment_id').value;   
        $.ajax({
            type:'POST',
            url:mark_assignment_url,
            data:{
                submission_marks:$('#submission_marks').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success:function(json){
                document.getElementById("mark_assignment_form").reset();
                $(".posts").prepend('<div class="col-md-6">'+
                    '<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">' +
                        '<div class="col p-4 d-flex flex-column position-static">' +
                            '<h3 class="mb-0">' + json.submission_marks + '</h3>' +
                        '</div>' +
                    '</div>' +
                '</div>' 
                )
                window.location.href='http://127.0.0.1:8000/assignment_summary/' + assignment_id.toString();
                window.location.reload();
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
      });
</script>
</html> 