{% extends 'base/hamburger.html' %}
{% load static %}
{% block head %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">  
{% endblock %}

{% block hamburger %}
    {% if mappings %}
        {% for mapping in mappings %}
            <!-- <div class="mycard">
                <div class="myheader">
                    <div style="color:white">{{ mapping.classroom_id.classroom_name }}</div>
                </div>
                    <div class="mycontainer">
                        <div style="color:black">{{ mapping.classroom_id.section }}</div>
                        <div style="color:black">{{ mapping.classroom_id.code }}</div>
                </div>
            </div> -->
            <!-- <div class="card custom_card">
                <div class="card-body">
                  <h5 class="card-title">{{ mapping.classroom_id.classroom_name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ mapping.classroom_id.code }}</h6>
                  <p class="card-text">{{ mapping.classroom_id.section }}</p>
                  <p class="card-text">{{ mapping.classroom_id.class_code }}</p>
                  <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                <!-- </div> -->
            <!-- </div>  -->
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">{{ mapping.classroom_id.classroom_name }}</p>
                  <p class="card-text">{{ mapping.classroom_id.class_code }}</p>
                  <p class="card-text">{{ mapping.classroom_id.classroom_id.code }}</p>
                  <p class="card-text">{{ mapping.classroom_id.section }}</p>  
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
