{% extends 'base/hamburger.html' %}
{% load static %}
{% block head %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">  
{% endblock %}

{% block hamburger %}
    {% if mappings %}
    <div class="row">
        {% for mapping in mappings %}
            {% if forloop.counter|divisibleby:4 %}
                    <div class="col-md-3">
                        <div class="card custom_card" style="width: 18rem;">
                            <img src="{% static 'images/home_page/img_bookclub.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                            <p class="card-text">{{ mapping.classroom_id.classroom_name }}</p>
                            {% if mapping.teacher_id %}
                                <p class="card-text">{{ mapping.teacher_id}}</p>
                            {% else %}
                                <p class="card-text">{{ mapping.student_id }}</p>
                            {% endif %}
                            <p class="card-text">{{ mapping.classroom_id.classroom_id.code }}</p>
                            <p class="card-text">{{ mapping.classroom_id.section }}</p>  
                            </div>
                        </div>
                    </div>
    </div>
    {% if not forloop.last %} 
    <br>
    <div class="row">
    {% endif %}
            {% else %}
                <div class="col-md-3">
                    <div class="card custom_card" style="width: 18rem;">
                        <div class="d-flex flex-wrap align-items-center justify-content-center">
                            <img class="card-img-top" src="{% static 'images/home_page/img_bookclub.jpg' %}"/>
                            <div class="img-overlay"> <h2>{{ mapping.classroom_id.classroom_name }}</h2> </div>
                        </div>
                        <div class="card-body">
                        <!-- <p class="card-text">{{ mapping.classroom_id.classroom_name }}</p> -->
                        {% if mapping.teacher_id %}
                            <p class="card-text">{{ mapping.teacher_id}}</p>
                        {% else %}
                            <p class="card-text">{{ mapping.student_id }}</p>
                        {% endif %}
                        <p class="card-text">{{ mapping.classroom_id.classroom_id.code }}</p>
                        <p class="card-text">{{ mapping.classroom_id.section }}</p>  
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
