{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_class.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/landing.js' %}"></script> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar_custom">
        <a class="navbar-brand" href="#"  style="font-size:250% !important; color:#2e45c7 !important; margin-left: 7%; margin-right: 50%"><b>Classroom</b></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active" style="background-color: #f0f0f6;">
                <a class="nav-link myinfo landing_login"  href="#">Login/Signup<span class="sr-only">(current)</span></a>
              </li>
            </ul>
        </div>
    </nav>

    <div class="slideshow-container">

        <div class="info-slide">
          <b>A new way of learning</b>
        </div>
        
        <div class="info-slide">
            <b>Stay connected with your teachers and classmates</b>
        </div>
        
        <div class="info-slide">
            <b>Join us to learn something new and wonderful</b>
        </div>

        <a class="prev" onclick="changeSlide(-1)">❮</a>
<a class="next" onclick="changeSlide(1)">❯</a>

</div>

    <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
</body>
</html>